<h1>Edit UppityFile</h1>

<%= error_messages_for :uppity_file %>

<form action="<%= uppity_files_update_url(:id => @uppity_file) %>" class="edit_uppity_file" id="edit_uppity_file" method="uppity_file">
  <input type="hidden" name="_method" value="put">
  <p>
    <b>KlassType</b><br />
    <input type="text" name="uppity_file[klass_type]" id="uppity_file_klass_type" size="30" value="<%= @uppity_file.klass_type %>" />
  </p>
  <p>
    <b>KlassId</b><br />
    <input type="text" name="uppity_file[klass_id]" id="uppity_file_klass_id" size="30" value="<%= @uppity_file.klass_id %>" />
  </p>
  <p>
    <b>OriginalFileName</b><br />
    <input type="text" name="uppity_file[original_file_name]" id="uppity_file_original_file_name" size="30" value="<%= @uppity_file.original_file_name %>" />
  </p>
  <p>
    <b>FileType</b><br />
    <input type="text" name="uppity_file[file_type]" id="uppity_file_file_type" size="30" value="<%= @uppity_file.file_type %>" />
  </p>
  <p>
    <input id="uppity_file_submit" name="commit" type="submit" value="Create" />
  </p>
</form>

<%= link_to("Back", uppity_files_index_url) %>
