<h1>Listing UploadedFiles</h1>

<table>
  <tr>
    <th>KlassType</th>
    <th>KlassId</th>
    <th>OriginalFileName</th>
    <th>FileType</th>
    <th>CreatedAt</th>
  </tr>

<% for uploaded_file in @uploaded_files %>
  <tr>
    <td><%= uploaded_file.klass_type %></td>
    <td><%= uploaded_file.klass_id %></td>
    <td><%= uploaded_file.original_file_name %></td>
    <td><%= uploaded_file.file_type %></td>
    <td><%= uploaded_file.created_at %></td>
    <td><%= link_to("Show", uploaded_files_show_url(:id => uploaded_file.id)) %></td>
    <td><%= link_to("Edit", uploaded_files_edit_url(:id => uploaded_file.id)) %></td>
    <td><%= link_to("Delete", uploaded_files_delete_url(:id => uploaded_file.id), :method => :delete, :confirm => "Are you sure?") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to("New UploadedFile", uploaded_files_new_url) %>
