<%= render(:url => total_posts_url, :parameters => {:message => "hi there"}) %>

<p>
  <h1>Post</h1>
</p>
<p>
  <b>Title</b><br />
  <%= @post.title %>
</p>
<p>
  <b>Email</b><br />
  <%= @post.email %>
</p>
<p>
  <b>Body</b><br />
  <%= @post.body %>
</p>
<p>
  <b>Created At</b><br />
  <%= @post.created_at %>
</p>
<p>
  <b>Updated At</b><br />
  <%= @post.updated_at %>
</p>

<% unless @post.uppity_files.empty? -%>
  <p>Uploaded files:</p>
  <% for uppity_file in @post.uppity_files -%>
    <p><%= link_to(uppity_file.original_file_name, "/uploads/#{uppity_file.file_path}") %> <%= link_to("Delete", uppity_files_delete_url(:id => uppity_file.id), :method => :delete, :confirm => "Are you sure?") %></p>
  <% end -%>
<% end -%>

<hr />

<%= link_to("Edit", posts_edit_url(:id => @post.id)) %> |
<%= link_to("Delete", posts_delete_url(:id => @post.id), :method => :delete, :confirm => "Are you sure?") %> |
<%= link_to("Back", posts_index_url) %>
