<%= render(:url, total_posts_url) %>

<p>
  <h1>Post</h1>
</p>
<p>
  <b>Title</b><br />
  <%= @post.title %> [<%= link_to("pdf", posts_show_url(:id => @post, :format => :pdf)) %>]
</p>
<p>
  <b>Email</b><br />
  <%= @post.email %>
</p>
<p>
  <b>Body</b><br />
  <%= @post.body %>
</p>
<p>
  <b>Created At</b><br />
  <%= @post.created_at %>
</p>
<p>
  <b>Updated At</b><br />
  <%= @post.updated_at %>
</p>

<% unless @post.posted_files.empty? -%>
  <p>Uploaded files:</p>
  <% for uppity_file in @post.posted_files -%>
    <p><%= link_to(uppity_file.original_file_name, "/uploads/#{uppity_file.file_path}") %> <%= link_to("Delete", posted_files_delete_url(:id => uppity_file), :method => :delete, :confirm => "Are you sure?") %></p>
  <% end -%>
<% end -%>

<hr />

<%= link_to("Edit", posts_edit_url(:id => @post)) %> |
<%= link_to("Delete", posts_delete_url(:id => @post), :method => :delete, :confirm => "Are you sure?") %> |
<%= link_to("Back", posts_index_url) %>

<%% repository(:default) do -%>
<% 10.times do -%>
  puts <%= Post.first.object_id %>
<% end -%>
<%% end -%>
